Repository sebastienvas/k8s-test-infra, changes with the owners that CODEOWNERS names for each.
All owners: @krzyzacy, @rmmh, @shyamjvs, @bentheelder, @spxtr, @michelle192837

Fixed crds update and delete
  boskos/crds/client.go
Owners: @krzyzacy

Added a storage interface to ranch
  boskos/BUILD
  boskos/boskos.go
  boskos/boskos_test.go
  boskos/common/common.go
  boskos/crds/client.go
  boskos/crds/types.go
  boskos/gcp/BUILD
  boskos/gcp/config_test.go
  boskos/mason/mason.go
  boskos/mason/mason_test.go
  boskos/ranch/BUILD
  boskos/ranch/crd_storage.go
  boskos/ranch/memory_storage.go
  boskos/ranch/ranch.go
  boskos/ranch/ranch_test.go
Owners: @krzyzacy

Renaming of crd resources
  boskos/boskos.go
  boskos/boskos_test.go
  boskos/client/client.go
  boskos/common/common.go
  boskos/crds/client.go
  boskos/crds/types.go
  boskos/mason/mason.go
  boskos/mason/mason_test.go
  boskos/ranch/ranch.go
  boskos/ranch/ranch_test.go
  boskos/test-config.yaml
Owners: @krzyzacy

Fix format
  boskos/boskos.go
Owners: @krzyzacy

Fix yaml and seg fault
  boskos/boskos.go
  boskos/boskos_test.go
  boskos/common/common.go
  boskos/crds/client.go
  boskos/crds/types.go
  boskos/gcp/config.go
  boskos/gcp/config_test.go
  boskos/mason/mason.go
  boskos/mason/mason_test.go
  boskos/ranch/ranch.go
  boskos/test-config.yaml
Owners: @krzyzacy

Mason Implementation
  boskos/BUILD
  boskos/Makefile
  boskos/README.md
  boskos/boskos.go
  boskos/boskos_test.go
  boskos/client/client.go
  boskos/client/client_test.go
  boskos/cmd/mason/BUILD
  boskos/cmd/mason/main.go
  boskos/common/common.go
  boskos/config.yaml
  boskos/crds/BUILD
  boskos/crds/client.go
  boskos/crds/types.go
  boskos/gcp/BUILD
  boskos/gcp/config.go
  boskos/janitor/janitor.go
  boskos/janitor/janitor_test.go
  boskos/mason/BUILD
  boskos/mason/mason.go
  boskos/mason/mason_test.go
  boskos/ranch/BUILD
  boskos/ranch/ranch.go
  boskos/ranch/ranch_test.go
  boskos/test-config.yaml
  jobs/BUILD
  kubetest/main.go
Owners: @krzyzacy

Fix license
  boskos/cmd/mason/main.go
  boskos/crds/client.go
  boskos/crds/types.go
  boskos/gcp/config.go
  boskos/mason/mason.go
  boskos/mason/mason_test.go
Owners: @krzyzacy

Adding a status
  boskos/crds/types.go
  boskos/ranch/ranch.go
Owners: @krzyzacy

Add licence headers
  boskos/gcp/config_test.go
  boskos/ranch/crd_storage.go
  boskos/ranch/memory_storage.go
Owners: @krzyzacy

Fix bazel test and gometalinter errors
  boskos/BUILD
  boskos/boskos.go
  boskos/client/client.go
  boskos/client/client_test.go
  boskos/common/common.go
  boskos/gcp/BUILD
  boskos/gcp/config.go
  boskos/gcp/config_test.go
  boskos/janitor/janitor_test.go
  boskos/mason/mason.go
  boskos/mason/mason_test.go
  boskos/metrics/metrics.go
  boskos/ranch/crd_storage.go
  boskos/ranch/memory_storage.go
  boskos/ranch/ranch.go
Owners: @krzyzacy

Simplify storage interface
  boskos/boskos.go
  boskos/boskos_test.go
  boskos/common/common.go
  boskos/crds/client.go
  boskos/crds/types.go
  boskos/ranch/BUILD
  boskos/ranch/crd_storage.go
  boskos/ranch/memory_storage.go
  boskos/ranch/ranch.go
  boskos/ranch/ranch_test.go
  boskos/ranch/storage.go
Owners: @krzyzacy

Add more tests
  boskos/crds/client.go
  boskos/mason/mason_test.go
  boskos/ranch/BUILD
  boskos/ranch/ranch.go
  boskos/ranch/ranch_test.go
  boskos/ranch/storage.go
  boskos/ranch/storage_test.go
Owners: @krzyzacy

Adds gcp support for cluster and vms
  boskos/gcp/BUILD
  boskos/gcp/config.go
  boskos/gcp/config_test.go
  boskos/mason/mason.go
  boskos/mason/mason_test.go
  boskos/test-config.yaml
Owners: @krzyzacy

Fix gometalinter issues
  boskos/boskos_test.go
  boskos/cmd/mason/main.go
  boskos/gcp/config.go
  boskos/ranch/ranch_test.go
  boskos/ranch/storage_test.go
Owners: @krzyzacy

Update vendors
  Gopkg.lock
  boskos/gcp/BUILD
Owners: @krzyzacy

Adding deployment for mason
  boskos/BUILD
  boskos/Makefile
  boskos/boskos.go
  boskos/boskos_test.go
  boskos/client/client.go
  boskos/cmd/mason/Dockerfile
  boskos/cmd/mason/deployment.yaml
  boskos/crds/client.go
  boskos/gcp/config.go
  boskos/janitor/janitor.go
  boskos/mason/mason.go
  boskos/ranch/crd_storage.go
  boskos/ranch/ranch.go
  boskos/ranch/ranch_test.go
  boskos/ranch/storage_test.go
Owners: @krzyzacy

Changed client to not return nil resource, but error instead
  boskos/client/client.go
  boskos/janitor/janitor.go
Owners: @krzyzacy

Working version of mason
  boskos/boskos.go
  boskos/boskos_test.go
  boskos/client/client.go
  boskos/common/common.go
  boskos/crds/types.go
  boskos/gcp/config.go
  boskos/janitor/janitor.py
  boskos/janitor/janitor_test.go
  boskos/mason/mason.go
  boskos/mason/mason_test.go
  boskos/ranch/ranch.go
  boskos/server_client_test.go
Owners: @krzyzacy

WIP refactoring
  boskos/boskos.go
  boskos/boskos_test.go
  boskos/client/client.go
  boskos/cmd/mason/main.go
  boskos/common/common.go
  boskos/common/mason_config.go
  boskos/crds/client.go
  boskos/crds/resource_crd.go
  boskos/crds/resources_config_crd.go
  boskos/crds/types.go
  boskos/gcp/config.go
  boskos/gcp/config_test.go
  boskos/janitor/janitor.go
  boskos/janitor/janitor_test.go
  boskos/mason/client.go
  boskos/mason/mason.go
  boskos/mason/mason_test.go
  boskos/mason/storage.go
  boskos/mason/test-configs.yaml
  boskos/mason/test-resources.yaml
  boskos/ranch/ranch.go
  boskos/ranch/ranch_test.go
  boskos/ranch/storage.go
  boskos/server_client_test.go
  boskos/storage/crd_storage.go
  boskos/storage/memory_storage.go
  boskos/storage/storage.go
  boskos/storage/storage_test.go
Owners: @krzyzacy

WIP - Refactoring - fixed tests but mason
  boskos/common/common.go
  boskos/mason/mason.go
  boskos/mason/mason_test.go
  boskos/ranch/ranch_test.go
  boskos/server_client_test.go
Owners: @krzyzacy

Fixed unit tests
  boskos/boskos.go
  boskos/client/client.go
  boskos/common/common.go
  boskos/common/common_test.go
  boskos/gcp/config.go
  boskos/mason/mason.go
  boskos/mason/mason_test.go
  boskos/ranch/ranch.go
  boskos/server_client_test.go
Owners: @krzyzacy

Renamed config.yaml to resources.yaml
  boskos/Makefile
  boskos/boskos_test.go
  boskos/resources.yaml
Owners: @krzyzacy

Fix testdata for bazel testing
  boskos/gcp/BUILD
  boskos/mason/BUILD
Owners: @krzyzacy

WIP
  boskos/boskos.go
  boskos/client/client.go
  boskos/common/common.go
  boskos/gcp/config.go
  boskos/mason/client.go
  boskos/mason/mason.go
  boskos/mason/mason_test.go
  boskos/ranch/ranch.go
  boskos/server_client_test.go
Owners: @krzyzacy

Fixed tests
  boskos/gcp/config.go
  boskos/mason/client.go
  boskos/mason/mason_test.go
  boskos/ranch/ranch.go
  boskos/server_client_test.go
Owners: @krzyzacy

golinting
  boskos/boskos.go
  boskos/client/client.go
  boskos/common/common.go
  boskos/common/mason_config.go
  boskos/crds/resources_config_crd.go
  boskos/janitor/janitor.go
  boskos/janitor/janitor_test.go
  boskos/mason/mason.go
  boskos/mason/mason_test.go
  boskos/metrics/metrics.go
  boskos/ranch/ranch_test.go
  boskos/reaper/reaper.go
  boskos/server_client_test.go
Owners: @krzyzacy

WIP
  boskos/boskos.go
  boskos/client/client.go
  boskos/cmd/mason/main.go
  boskos/crds/client.go
  boskos/crds/resource_crd.go
  boskos/mason/client.go
  boskos/server_client_test.go
Owners: @krzyzacy

Fix golint + WIP for mason update
  boskos/boskos_test.go
  boskos/crds/client.go
  boskos/crds/resource_crd.go
  boskos/crds/resources_config_crd.go
  boskos/gcp/config.go
  boskos/gcp/config_test.go
  boskos/janitor/janitor_test.go
  boskos/mason/mason.go
  boskos/mason/mason_test.go
  boskos/mason/storage.go
  boskos/ranch/ranch.go
  boskos/ranch/ranch_test.go
  boskos/ranch/storage.go
  boskos/storage/crd_storage.go
  boskos/storage/memory_storage.go
  boskos/storage/storage.go
  boskos/storage/storage_test.go
Owners: @krzyzacy

Fixed last golint
  boskos/client/client.go
  boskos/common/common.go
  boskos/crds/client.go
  boskos/crds/resource_crd.go
  boskos/crds/resources_config_crd.go
  boskos/mason/client.go
  boskos/mason/mason.go
  boskos/mason/mason_test.go
  boskos/ranch/ranch.go
  boskos/server_client_test.go
  boskos/storage/storage.go
Owners: @krzyzacy

reduce time out
  boskos/mason/mason_test.go
Owners: @krzyzacy

Fixed bazel build
  boskos/common/BUILD
  boskos/mason/BUILD
  boskos/metrics/BUILD
  boskos/storage/BUILD
  jobs/BUILD
Owners: @krzyzacy

Fix bazel test issues
  boskos/mason/mason_test.go
  boskos/server_client_test.go
Owners: @krzyzacy

Using contexts
  boskos/mason/mason.go
  boskos/mason/mason_test.go
Owners: @krzyzacy

Fix race
  boskos/mason/mason_test.go
Owners: @krzyzacy

Fixing race
  boskos/mason/mason_test.go
Owners: @krzyzacy

Mason Implementation
  boskos/BUILD
  boskos/Makefile
  boskos/README.md
  boskos/boskos.go
  boskos/boskos_test.go
  boskos/client/client.go
  boskos/client/client_test.go
  boskos/common/BUILD
  boskos/common/common.go
  boskos/common/common_test.go
  boskos/common/mason_config.go
  boskos/crds/BUILD
  boskos/crds/client.go
  boskos/crds/resource_crd.go
  boskos/crds/resources_config_crd.go
  boskos/janitor/janitor.go
  boskos/janitor/janitor.py
  boskos/janitor/janitor_test.go
  boskos/mason/BUILD
  boskos/mason/client.go
  boskos/mason/mason.go
  boskos/mason/mason_test.go
  boskos/mason/storage.go
  boskos/mason/test-configs.yaml
  boskos/mason/test-resources.yaml
  boskos/metrics/BUILD
  boskos/metrics/metrics.go
  boskos/ranch/BUILD
  boskos/ranch/ranch.go
  boskos/ranch/ranch_test.go
  boskos/ranch/storage.go
  boskos/reaper/reaper.go
  boskos/resources.yaml
  boskos/server_client_test.go
  boskos/storage/BUILD
  boskos/storage/storage.go
  boskos/storage/storage_test.go
  jobs/BUILD
  kubetest/main.go
Owners: @krzyzacy

Update deps constraints and bazel script
  Gopkg.toml
  hack/update-bazel.sh
Owners: none

WIP
  prow/cmd/tide/README.md
  prow/config/branch_protection.go
  prow/config/branch_protection_test.go
  prow/config/jobs.go
  prow/config/tide.go
  prow/tide/contextregister.go
  prow/tide/contextregister_test.go
  prow/tide/tide.go
  prow/tide/tide_test.go
Owners: @spxtr

adds a context options in tide config
  prow/cmd/tide/README.md
  prow/config/branch_protection.go
  prow/config/branch_protection_test.go
  prow/config/jobs.go
  prow/config/tide.go
  prow/config/tide_test.go
  prow/tide/BUILD.bazel
  prow/tide/contextregister.go
  prow/tide/contextregister_test.go
  prow/tide/tide.go
  prow/tide/tide_test.go
Owners: @spxtr

WIP
  prow/config/tide.go
  prow/config/tide_test.go
  prow/tide/tide.go
Owners: @spxtr

CODEOWNERS:

boskos/** @krzyzacy
gubernator/** @rmmh
kettle/** @rmmh
logexporter/** @shyamjvs
planter/** @bentheelder
prow/** @spxtr
prow/config.yaml @krzyzacy
testgrid/** @krzyzacy @michelle192837
triage/** @rmmh
